*~
*.aux
*.bbl
*.blg
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.lal
*.lol
*.loc
*.loi
*.lod
*.loq
*.out
*.toc
*.log
*.synctex.gz
*.dvi
*.brf
*.lon
*.bit
*.lof
*.lot
*.glx
*.gxg
*.gxs
*.idx
*.ilg
*.ind
*.url
*.svn
*.pdf
*.kilepr
.DS_Store
.directory
Thumbs.db
Desktop.ini
/pdf
